* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu Sans Mono", monospace;
}

.menu-principal {
    background-color: rgba(0, 0, 0, 0.897);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}
.logo {
    color: white;
    -webkit-text-stroke: 0.15rem black;
    font-size: 1.15rem;
    text-decoration: none;
}
.nav {
    display: flex;
}
.menu {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    font-size: 1.5rem;
}

.link{
    color: white;
    text-decoration: underline;
}
.contenido{
    min-height: 50vh;
    display: grid;
    place-items: center;
    font-size: 2rem;
    margin: 0 1%;
}
.carrito{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}


.contenido-productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    padding: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.897);
    padding: 2rem;
    gap: 1rem;
    border-radius: .5rem;
    align-items: center;
}

.letra {
    color: white;
    font-size: 1rem;
}

.title {
    padding: 3rem;
    text-decoration: underline;
    font-size: 3rem;
}
.card-details {
    background-color: rgba(0, 0, 0, 0.897);
    display: flex;
    gap: 3rem;
    justify-content: center;
    padding: 3rem;
}

.contenido-detalles {
    margin: 2rem;
}

.card-div-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.card-div-2 {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

.link-size {
    font-size: 1rem;
}
.imagen {
    width: 310px;
    height: 310px;
}

.cartel-flotante {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.521);
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: fade-in-out 2s ease-in-out;
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
.cantidad-modificar {
    display: flex;
    justify-content:flex-start;
    gap: 1rem;
}
.carrito-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    background-color: rgba(0, 0, 0, 0.733);
    margin: 2rem;
    padding: 2rem 4rem;
    color: white;
}

.producto-container {
    display: flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content: center;
    gap: 2rem;
    width: auto;
}
.producto-imagen {
    width: 150px;
    height: 150px;
    border: solid 0.2rem;
    border-color: black;
}

.modificar-button {
    background-color: black;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.producto-precio, .totalPrice {
    text-decoration: underline;
    font-size: 1.5rem;
}

.botonesCarrito {
    display: flex;
    gap: 4rem;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 600px;
    height: 625px;
    background-color: rgba(0, 0, 0, 0.74);
    padding: 4rem;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-radius: 1rem;
    box-shadow: 7px 13px 37px black;
}

.datos, .comprar {
    padding: 1.5rem;
    font-size: 1rem;
    text-decoration: underline;
    border-radius: 0.7rem;
}
.agradecimiento {
    background-color: rgba(0, 0, 0, 0.87);
    color: white;
    text-align: center;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 7px 13px 37px black;
}

.title-finalizar {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-decoration: underline;
}

.id {
    font-size: 1.5rem;
}